
h1{
    /* margin-bottom: 20px; */
    text-align: center;
    padding-bottom: 20px;
}

.churn-overview-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.gauge-container {
    /* position: relative; */
    text-align: center;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

#churnRateText {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #a01b1b;
}




#churnRateGauge{
    max-height: 300px;
}

.customer-churn-prediction, .location-churn-prediction, .gauge-container, .sentiment-trend-analysis, .chart-container{
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 1200px;
    min-width: 250px;
    padding: 20px;
    background-color: #737f8f;
    margin-bottom: 100px;

}
.customer-churn-prediction{
    background-color: #a4a9ac;
}
.chart-container {
    background-color: #737f8f;
    
}
.sentiment-trend-analysis {
    max-width: 1200px;
    /* margin: auto; */
    padding: 20px;
    background-color: #a4a9ac;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.graph-title{
    color:#09233c;

}

.graph-description{
    font-size: 14px;
    color: whitesmoke;
    margin-bottom: 25px; 
    /* color: #555;  */
    text-align: center; 
    font-size: 1.1rem;  
    border-bottom: 1px solid #ccc;
}



.scrolling-factors {
    height: 400px;
    overflow: hidden;
    position: relative;
    background-color: rgb(236, 231, 225, 0.2);
    padding: 20px;

}

.factor-bubble {
    background: #f44336; /* Red for negative factors */
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    width: fit-content;
    animation: scroll-up 10s linear infinite;
}

@keyframes scroll-up {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
}


@media (max-width: 768px) {
    .churn-overview-container{
        flex-direction: column;
    }


}

@media screen and (max-width: 768px) {
    .main-content{
        margin-left: 60px;
        padding-right: 20px;
    }
}

section{
    margin-top: 20px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}




#sentimentTrendChart {
    max-height: 400px;
}

#monthlyChurnRate{
    padding: 20px;
}


